body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("images/lover.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
  background-position: 1% 85%;

  
  opacity: 0.9;
}


main {
  background-color: rgba(255, 255, 255, 0.78);
  padding: 20px;
  border-radius: 10px;
}
